# ignore local SQL dumps and lgos
*.sql
*.log

# ignore temp files and backups
*.tmp
*.bak

# ignore Git and version control files
.git/
.gitignore

# ignore OS-specif file
.DS_Store
Thumbs.db

# ignore secrets
secrets/

# ignore local config files
*.env